#title{
    background-color: rgb(15, 173, 126);
    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
}
#menu{
    background-color: grey;
    padding: 5px;
    overflow: hidden;
    font-size: 11px;
}
#menu #left{
    color: white;
    padding: 10px 14px;
    float: left;
    text-align: center;
    text-decoration: none
}
#menu #right{
    color: white;
    padding: 10px 14px;
    float: right;
    text-align: center;
    text-decoration: none;
}
#menu #right:hover{
    background-color: white;
    color: black;
}
#menu #left:hover{
    background-color: white;
    color: black;
}
#container{
    display: flex;
    flex-wrap: nowrap
}
#left-side{
    flex:50%;
    background-color:#fffdfdf2
}
#right-side{
    flex:50%;
    background-color:white
}
#footer{
    background-color: black;
    padding: 20px;
    color: white;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
} 
table td, table th {
    border: 1px solid #ddd;
    text-align: center;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
img{
    width:90px;
    height: 110px
}
@media(max-width: 800px){
    #container{
        display: flex;
        flex-wrap: wrap
    }
    #left-side{
        flex:100%;
        background-color:#fffdfdf2
    }
    #right-side{
        flex:100%;
        background-color:white
    }
}